<!DOCTYPE html>
<html>
	
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style-week.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="jquery.dirty.js"></script>

		<style>

			#logo {
				width: 80px;
			}

			#main {
				margin-left: 250px;
			}

			@media (max-width: 800px) {
				#main {
					margin-left: 0px;
				}
			}

			@media (max-width: 1000px) {
				#main {
				padding: 16px;
				padding-top: 30px;
				margin-left: 0px;
				transition: 0.5s;
				}

				#logo {
				display: none;
			}
			}
			
		</style>


		
		
	</head>
	
	
	
	<body>

		<!--Navigation bar-->	
		<div id="mySidenav" class="sidenav">
			<a href="index.html" ><img src="LOGO-l.png" alt="logo" id="logo"
				style="padding-bottom: 50px;"></a>
			<a href="index.html">HOME</a>
			<a href="calendar.html" style="color:#fff;">CALENDAR</a>
			<a href="notes.html">NOTES</a>
            <a href="##"><button type="button" id="btn" class="loginbtn" style="border: none; height: 25px; width: 55px;">LOGIN</button></a>
		</div>


		<div id="main">
			
			<div id="HASH" class="calnav">
				<ul>	
					<span><li class="week"><a href="calendar.html">WEEK </a></li></span>
					<span><li class="month"><a href="month.html">MONTH</a></li></span>
					<span><a href="login.html"><i style="color: #000;" class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></a></span>
					<!-- <span><li><a href="../index.html" ><img src="LOGO2.png" alt="logo" id="logo" class="logo"></a></li></span> -->
				</ul>
			</div>

		
			
			<article class="schedule">
				
				<!-- Main date and year displayed -->
				<div id="date-save">
					<h3 style="font-size: 30px;" id="month-year-main"></h3>
					<button type="button" id="btn">SAVE</button>
				</div>
			
				
				<div class="bigboybox">	


					<div class="Weekdays" id="weekdays-1"> 


						<div class="weekday-box">
							<div id="HASH">
								<span id="mon-text" class="smalltext" ><strong>MON</strong></span>
								<span id="1">12.01</span>
							</div>
							<form id="monday" method="POST">
									<div id="mon1-parent"><input type="checkbox" class="row-box" id="moncheckbox1"
										 onclick="strikeThrough(this.id, document.getElementById('moninput1').id);"><input type="text" class="input" id="moninput1" name="0"
										style="border: #fff; border-top: solid 1px; border-bottom: solid 1px #DDDDDD"><br></div>
									<div id="mon-parent2"><input type="checkbox" class="row-box" id="box2" 
										onclick="strikeThrough(this.id, document.getElementById('moninput2').id);"><input type="text" class="input" id="moninput2" name="1"><br></div>
									<div id="parent3"><input type="checkbox" class="row-box" id="box3"
										onclick="strikeThrough(this.id, document.getElementById('moninput3').id);"><input type="text" class="input" id="moninput3" name="2"><br></div>
									<div id="parent4"><input type="checkbox" class="row-box" id="box4"
										onclick="strikeThrough(this.id, document.getElementById('moninput4').id);"><input type="text" class="input" id="moninput4" name="3"><br></div>
									<div id="parent5"><input type="checkbox" class="row-box" id="box5"
										onclick="strikeThrough(this.id, document.getElementById('moninput5').id);"><input type="text" class="input" id="moninput5" name="4"><br></div>
									<div id="parent6"><input type="checkbox" class="row-box" id="box6"
										onclick="strikeThrough(this.id, document.getElementById('moninput6').id);"><input type="text" class="input" id="moninput6" name="5"><br></div>
									<input type="hidden" id="hidden-mon" name="date">	
							</form>
						</div>
					
						<div class="weekday-box">
							<div id="HASH">
								<span id="tue-text" class="smalltext"><strong>TUE</strong></span>
								<span id="2">12.01</span>
							</div>
							<form id="tuesday" method="POST">
									<div id="parent7"><input type="checkbox" class="row-box" id="box7"
										onclick="strikeThrough(this.id, document.getElementById('tueinput1').id);"><input type="text" class="input" id="tueinput1" name="0" 
										style="border: #fff; border-top: solid 1px; border-bottom: solid 1px #DDDDDD"> <br></div>
									<div id="parent8"><input type="checkbox" class="row-box" id="box8"
										onclick="strikeThrough(this.id, document.getElementById('tueinput2').id);"><input type="text" class="input" id="tueinput2" name="1"> <br></div>
									<div id="parent9"><input type="checkbox" class="row-box" id="box9"
										onclick="strikeThrough(this.id, document.getElementById('tueinput3').id);"><input type="text" class="input" id="tueinput3" name="2"> <br></div>
									<div id="parent10"><input type="checkbox" class="row-box" id="box10"
										onclick="strikeThrough(this.id, document.getElementById('tueinput4').id);"><input type="text" class="input" id="tueinput4" name="3"> <br></div>
									<div id="parent11"><input type="checkbox" class="row-box" id="box11"
										onclick="strikeThrough(this.id, document.getElementById('tueinput5').id);"><input type="text" class="input" id="tueinput5" name="4"> <br></div>
									<div id="parent12"><input type="checkbox" class="row-box" id="box12"
										onclick="strikeThrough(this.id, document.getElementById('tueinput6').id);"><input type="text" class="input" id="tueinput6" name="5"> <br></div>
										<input type="hidden" id="hidden-tue" name="date">	
							</form>
						</div>

						<div class="weekday-box" id="today">
							<div id="HASH">
								<span id="wed-text" class="smalltext"><strong>WED</strong></span>
								<span id="3" class="today">12.01</span>
							</div>


							<form id="wednesday" method="POST">
									<div id="parent13"><input type="checkbox" class="row-box"  id="box13"
										onclick="strikeThrough(this.id, document.getElementById('wedinput1').id);"><input type="text" class="input" id="wedinput1" name="0"
										style="border: #fff; border-top: solid 1px; border-bottom: solid 1px #DDDDDD"> <br></div>
									<div id="parent14"><input type="checkbox" class="row-box" id="box14"
										onclick="strikeThrough(this.id, document.getElementById('wedinput2').id);"><input type="text" class="input" id="wedinput2" name="1"><br> </div>
									<div id="parent15"><input type="checkbox" class="row-box"  id="box15"
										onclick="strikeThrough(this.id, document.getElementById('wedinput3').id);"><input type="text" class="input" id="wedinput3" name="2"> <br></div>
									<div id="parent16"><input type="checkbox" class="row-box" id="box16"
										onclick="strikeThrough(this.id, document.getElementById('wedinput4').id);"><input type="text" class="input" id="wedinput4" name="3"> <br></div>
									<div id="parent17"><input type="checkbox" class="row-box"  id="box17"
										onclick="strikeThrough(this.id, document.getElementById('wedinput5').id);"><input type="text" class="input" id="wedinput5" name="4"><br></div>
									<div id="parent18"><input type="checkbox" class="row-box"  id="box18"
										onclick="strikeThrough(this.id, document.getElementById('wedinput6').id);"><input type="text" class="input" id="wedinput6" name="5"><br></div>	
										<input type="hidden" id="hidden-wed" name="date">	
							</form> 
						</div>

					</div>

				
				
					<div class="Weekdays" id="weekdays-2"> 

						<div class="weekday-box" id="column2-box1">
							<div id="HASH">
								<span id="thu-text" class="smalltext"><strong>THU</strong></span>
								<span id="4">12.01</span>
							</div>
							<form id="thursday" method="POST">
									<div id="parent19"><input type="checkbox" class="row-box" id="box19"
										onclick="strikeThrough(this.id, document.getElementById('thuinput1').id);"><input type="text" class="input" id="thuinput1" name="0" 
										style="border: #fff; border-top: solid 1px; border-bottom: solid 1px #DDDDDD"> <br></div>
									<div id="parent20"><input type="checkbox" class="row-box"  id="box20"
										onclick="strikeThrough(this.id, document.getElementById('thuinput2').id);"><input type="text" class="input" id="thuinput2" name="1"><br></div>	
									<div id="parent21"><input type="checkbox" class="row-box"  id="box21"
										onclick="strikeThrough(this.id, document.getElementById('thuinput3').id);"><input type="text" class="input" id="thuinput3" name="2"><br></div>	
									<div id="parent22"><input type="checkbox" class="row-box"  id="box22"
										onclick="strikeThrough(this.id, document.getElementById('thuinput4').id);"><input type="text" class="input" id="thuinput4" name="3"><br></div>	
									<div id="parent23"><input type="checkbox" class="row-box"  id="box23"
										onclick="strikeThrough(this.id, document.getElementById('thuinput5').id);"><input type="text" class="input" id="thuinput5" name="4"><br></div>	
									<div id="parent24"><input type="checkbox" class="row-box"  id="box24"
										onclick="strikeThrough(this.id, document.getElementById('thuinput6').id);"><input type="text" class="input" id="thuinput6" name="5"><br></div>	
										<input type="hidden" id="hidden-thu" name="date">	
							</form>
						</div>

						<div class="weekday-box" id="column2-box2">
							<div id="HASH">
								<span id="fri-text" class="smalltext"><strong>FRI</strong></span>
								<span id="5">12.01</span>
							</div>
							<form id="friday" method="POST">
									<div id="parent25"><input type="checkbox" class="row-box" id="box25"
										onclick="strikeThrough(this.id, document.getElementById('friinput1').id);"><input type="text" class="input" id="friinput1" name="0" 
										style="border: #fff; border-top: solid 1px; border-bottom: solid 1px #DDDDDD"> <br></div>
									<div id="parent26"><input type="checkbox" class="row-box"  id="box26"
										onclick="strikeThrough(this.id, document.getElementById('friinput2').id);"><input type="text" class="input" id="friinput2" name="1"><br></div>	
									<div id="parent27"><input type="checkbox" class="row-box"  id="box27"
										onclick="strikeThrough(this.id, document.getElementById('friinput3').id);"><input type="text" class="input" id="friinput3" name="2"><br></div>	
									<div id="parent28"><input type="checkbox" class="row-box"  id="box28"
										onclick="strikeThrough(this.id, document.getElementById('friinput4').id);"><input type="text" class="input" id="friinput4" name="3"><br></div>	
									<div id="parent29"><input type="checkbox" class="row-box"  id="box29"
										onclick="strikeThrough(this.id, document.getElementById('friinput5').id);"><input type="text" class="input" id="friinput5" name="4"><br></div>	
									<div id="parent30"><input type="checkbox" class="row-box"  id="box30"
										onclick="strikeThrough(this.id, document.getElementById('friinput6').id);"><input type="text" class="input" id="friinput6" name="5"><br></div>
										<input type="hidden" id="hidden-fri" name="date">	
							</form method="post">
						</div>

						<div class="problematic-box">

							<div class="weekend-box" id="column2-box3">
								<div id="HASH">
									<span id="sat-text" class="smalltext"><strong>SAT</strong></span>
									<span id="6">12.01</span>
								</div>
								<form id="saturday" method="POST">
									<div id="parent31"><input type="checkbox" class="row-box" id="box31"
										onclick="strikeThrough(this.id, document.getElementById('satinput1').id);"><input type="text" class="input-weekend" id="satinput1" name="0"
										style="border: #fff; border-top: solid 1px; border-bottom: solid 1px #DDDDDD"> <br></div>
									<div id="parent32"><input type="checkbox" class="row-box" id="box32"
										onclick="strikeThrough(this.id, document.getElementById('satinput2').id);"><input type="text" class="input-weekend" id="satinput2" name="1"> <br></div>
									<div id="parent33"><input type="checkbox" class="row-box" id="box33"
										onclick="strikeThrough(this.id, document.getElementById('satinput3').id);"><input type="text" class="input-weekend" id="satinput3" name="2"> <br></div>
									<div id="parent34"><input type="checkbox" class="row-box" id="box34"
										onclick="strikeThrough(this.id, document.getElementById('satinput4').id);"><input type="text" class="input-weekend" id="satinput4" name="3"> <br></div>
									<div id="parent35"><input type="checkbox" class="row-box" id="box35"
										onclick="strikeThrough(this.id, document.getElementById('satinput5').id);"><input type="text" class="input-weekend" id="satinput5" name="4"> <br></div>
									<div id="parent36"><input type="checkbox" class="row-box" id="box36"
										onclick="strikeThrough(this.id, document.getElementById('satinput6').id);"><input type="text" class="input-weekend" id="satinput6" name="5"> <br></div>
										<input type="hidden" id="hidden-sat" name="date">	
								</form>
							</div>

							<div class="weekend-box" id="column2-box4">
								<div id="HASH">
									<span id="sun-text" class="smalltext"><strong>SUN</strong></span>
									<span id="0">12.01</span>
								</div>
								<form id="sunday" method="POST">
									<div id="parent37"><input type="checkbox" class="row-box" id="box37"
										onclick="strikeThrough(this.id, document.getElementById('suninput1').id);"><input type="text" class="input-weekend" id ="suninput1" name="0"
										style="border: #fff; border-top: solid 1px; border-bottom: solid 1px #DDDDDD"> <br></div>
									<div id="parent38"><input type="checkbox" class="row-box" id="box38"
										onclick="strikeThrough(this.id, document.getElementById('suninput2').id);"><input type="text" class="input-weekend" id="suninput2" name="1"> <br></div>
									<div id="parent39"><input type="checkbox" class="row-box" id="box39"
										onclick="strikeThrough(this.id, document.getElementById('suninput3').id);"><input type="text" class="input-weekend" id="suninput3" name="2"> <br></div>
									<div id="parent40"><input type="checkbox" class="row-box" id="box40"
										onclick="strikeThrough(this.id, document.getElementById('suninput4').id);"><input type="text" class="input-weekend" id="suninput4" name="3"> <br></div>
									<div id="parent41"><input type="checkbox" class="row-box" id="box41"
										onclick="strikeThrough(this.id, document.getElementById('suninput5').id);"><input type="text" class="input-weekend" id="suninput5" name="4"> <br></div>
									<div id="parent42"><input type="checkbox" class="row-box" id="box42"
										onclick="strikeThrough(this.id, document.getElementById('suninput6').id);"><input type="text" class="input-weekend" id="suninput6" name="5"> <br></div>
									<input type="hidden" id="hidden-sun" name="date">	
								</form>

							</div>

						</div>
							
						

					</div>

					<div class="Weekdays" id="weekdays-3"> 
						<!-- <div style="text-align: center;">REMINDERS</div> -->

						<div> 
							<div class="extras"  id="reminders" style="color:#fff; text-align: center"> REMINDERS
								<form id="reminders-form" action="/reminders" method="post">
		
									<ul>
										<li>
											<span><input style="color: #fff;" type="text" class="input-reminders" id="input1" name="one"
											onclick="textboxFocus(this.id);"> <br></span>
										</li>
										<li>
											<span><input style="color: #fff;" type="text" class="input-reminders" id="input2" name="two"
											onclick="textboxFocus(this.id);"> <br></span>
										</li>
										<li>
											<span><input style="color: #fff;" type="text" class="input-reminders" id="input3" name="three"
											onclick="textboxFocus(this.id);"> <br></span>
										</li>
										<li>
											<span><input style="color: #fff;" type="text" class="input-reminders" id="input4" name="four"
											onclick="textboxFocus(this.id);"> <br></span>
										</li>
									
									</ul>
								</form>
						
							</div>
							<script lang="javascript">
								let reminder1 = '<%= reminder1 %>'
								let reminder2 = '<%= reminder2 %>'
								let reminder3 = '<%= reminder3 %>'
								let reminder4 = '<%= reminder4 %>'

								document.getElementById("input1").value = reminder1
								document.getElementById("input2").value = reminder2
								document.getElementById("input3").value = reminder3
								document.getElementById("input4").value = reminder4
								
							</script>
						
							<div class="extras" id="deadlines"> DEADLINES

								<div class="checkbox"> 
								<form id="deadlines-form" action="reminders" method="POST">

									<input type="checkbox" id="checkbox1" 
									onclick="strikeThrough(this.id, document.getElementById('todo1').id);"> 
									<input type="text" class="todolist" id="todo1" name="deadline1"> 
									<input type="date" class="date"><br> <br>
		
									<input type="checkbox" id="checkbox2"
									onclick="strikeThrough(this.id, document.getElementById('todo2').id);"> 
									<input type="text" class="todolist" id="todo2"  name="deadline2"> 
									<input type="date" class="date"><br> <br>
		
									<input type="checkbox" id="checkbox3"
									onclick="strikeThrough(this.id, document.getElementById('todo3').id);"> 
									<input type="text" class="todolist" id="todo3"  name="deadline3"> 
									<input type="date" class="date"><br> <br>
		
									<input type="checkbox" id="checkbox4"
									onclick="strikeThrough(this.id, document.getElementById('todo4').id);"> 
									<input type="text" class="todolist" id="todo4"  name="deadline4"> 
									<input type="date" class="date"><br> <br>
		
									<input type="checkbox" id="checkbox5"
									onclick="strikeThrough(this.id, document.getElementById('todo5').id);"> 
									<input type="text" class="todolist" id="todo5"  name="deadline5"> 
									<input type="date" class="date"><br> <br>
		
									<input type="checkbox" id="checkbox6"
									onclick="strikeThrough(this.id, document.getElementById('todo6').id);">  
									<input type="text" class="todolist" id="todo6"  name="deadline6"> 
									<input type="date" class="date"><br> <br>

									<input type="checkbox" id="checkbox7"
									onclick="strikeThrough(this.id, document.getElementById('todo6').id);">  
									<input type="text" class="todolist" id="todo7"  name="deadline7"> 
									<input type="date" class="date"><br> <br>

									<input type="checkbox" id="checkbox8"
									onclick="strikeThrough(this.id, document.getElementById('todo6').id);">  
									<input type="text" class="todolist" id="todo8"  name="deadline8"> 
									<input type="date" class="date"><br> <br>

									<input type="checkbox" id="checkbox9"
									onclick="strikeThrough(this.id, document.getElementById('todo6').id);">  
									<input type="text" class="todolist" id="todo9"  name="deadline9"> 
									<input type="date" class="date"><br> <br>

									<input type="checkbox" id="checkbox10"
									onclick="strikeThrough(this.id, document.getElementById('todo6').id);">  
									<input type="text" class="todolist" id="todo10"  name="deadline10"> 
									<input type="date" class="date"><br> <br>
		
								</form>
								</div>
								
							</div>
						</div>
						
					</div>

				</div>	
				
			</article>
			
		</div>

		

		
		<script language="javascript">

			// Style for side navigation and and page
			// document.getElementById("mySidenav").style.width = "250px";
			// document.getElementById("main").style.marginLeft = "250px";
			
			//Saves form data when button is pressed
			$("#btn").on("click", function() {
				
				$("#monday").submit(); 
   				$("#tuesday").submit();
				$("#wednesday").submit(); 
   				$("#thursday").submit();
				$("#friday").submit(); 
   				$("#saturday").submit();
				$("#sunday").submit(); 
				$("#deadlines-form").submit();
				$("#reminders-form").submit(); 

   				
			});

			
			$("#monday").dirty({preventLeaving: true});
			$("#tuesday").dirty({preventLeaving: true});
			$("#wednesday").dirty({preventLeaving: true});
			$("#thursday").dirty({preventLeaving: true});
			$("#friday").dirty({preventLeaving: true});
			$("#saturday").dirty({preventLeaving: true});
			$("#sunday").dirty({preventLeaving: true});
			$("#deadlines-form").dirty({preventLeaving: true});
			$("#reminders-form").dirty({preventLeaving: true});
			

			

			// Function to change text color for Reminders
			function textboxFocus(x){  
				document.getElementById(x).style.color = "white"; 
			}

			
			// Function to strikethrough when checked and unstrike when unchecked
			function strikeThrough(x,y) {
				//console.log(x);
				//console.log(y);

				$("#"+x).change(function() {
				if(this.checked) {
					//I am checked
					document.getElementById(y).style.color = "#B2B3B3";
					document.getElementById(y).style.textDecoration = "line-through";
				}else{
					//I'm not checked
					document.getElementById(y).style.color = "black";
					document.getElementById(y).style.textDecoration = "none";
				}
				});
			}


			

			// Function to make textboxes visible on hover
			$(document).ready(function() {

				for (let i=1; i<43; i++) {
					
					$('#parent'+i).hover(function(){
						$('#box'+i).css("visibility", "visible");
					}, function(){
						$('#box'+i).css("visibility", "hidden");
					}); 

				}
				
			});

			



			//Dynamically updates dates
			$(document).ready(function() {

				// Adding current month and year main title
				var months = ['JANUARY', 'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 
				'JUNE', 'JULY', 'AUGUST', 'SEPTEMBER', 'OCTOBER', 'NOVEMBER', 'DECEMBER'];;
				var date = new Date();
				var month = new Date().getMonth() + 1;
				var today = new Date().getDay();
				var day = new Date().getDate();

				document.getElementById('month-year-main').innerHTML = months[date.getMonth()] + ' ' + date.getFullYear();

				//If today is sunday	
				if (today == 0) {

					var mon = day - 6;
					var tue = day - 5;
					var wed = day - 4;
					var thu = day - 3;
					var fri = day - 2;
					var sat = day - 1;

					// styling
					document.getElementById('0').innerHTML = month + '.' + day;
					document.getElementById('hidden-sun').innerHTML = month + '.' + day;
					
					


					document.getElementById('0').style.color = "#60a9dd";
					document.getElementById('sun-text').style.color = "#60a9dd";
					document.getElementById('suninput1').style.borderTop = "solid 1px #60a9dd";

					//mon - sat
					document.getElementById('1').innerHTML = month + '.' + mon;
					document.getElementById('hidden-mon').innerHTML = month + '.' + mon;

					document.getElementById('2').innerHTML = month + '.' + tue;
					document.getElementById('hidden-tue').innerHTML = month + '.' + tue;

					document.getElementById('3').innerHTML = month + '.' + wed;
					document.getElementById('hidden-wed').innerHTML = month + '.' + wed;

					document.getElementById('4').innerHTML = month + '.' + thu;
					document.getElementById('hidden-thu').innerHTML = month + '.' + thu;

					document.getElementById('5').innerHTML = month + '.' + fri;
					document.getElementById('hidden-fri').innerHTML = month + '.' + fri;

					document.getElementById('6').innerHTML = month + '.' + sat; 
					document.getElementById('hidden-sat').innerHTML = month + '.' + sat;


					if (day<10){
						document.getElementById('0').innerHTML = month + '.0' + day;
					}
					if (mon<10) {
						document.getElementById('1').innerHTML = month + '.0' + mon;
					}
					if (tue<10) {
						document.getElementById('2').innerHTML = month + '.0' + tue;
					}
					if (wed<10){
						document.getElementById('3').innerHTML = month + '.0' + wed;
					}
					if (thu<10) {
						document.getElementById('4').innerHTML = month + '.0' + thu;
					}
					if (fri<10) {
						document.getElementById('5').innerHTML = month + '.0' + fri;
					}
					if (sat<10) {
						document.getElementById('6').innerHTML = month + '.0' + sat;
					}
				}
				
				//If today is monday
				if (today == 1) {
					
					var sun = day + 6; //0
					var tue = day + 1; //2
					var wed = day + 2; //3
					var thu = day + 3; //4
					var fri = day + 4; //5
					var sat = day + 5; //6
					

					document.getElementById('1').innerHTML = month + '.' + day;
					document.getElementById('hidden-mon').innerHTML = month + '.' + day;





					document.getElementById('1').style.color = "#60a9dd";
					document.getElementById('mon-text').style.color = "#60a9dd";
					document.getElementById('moninput1').style.borderTop = "solid 1px #60a9dd";

					document.getElementById('0').innerHTML = month + '.' + sun;
					document.getElementById('hidden-sun').innerHTML = month + '.' + sun;


					document.getElementById('2').innerHTML = month + '.' + tue;
					document.getElementById('hidden-tue').innerHTML = month + '.' + tue;

					document.getElementById('3').innerHTML = month + '.' + wed;
					document.getElementById('hidden-wed').innerHTML = month + '.' + wed;


					document.getElementById('4').innerHTML = month + '.' + thu;
					document.getElementById('hidden-thu').innerHTML = month + '.' + thu;


					document.getElementById('5').innerHTML = month + '.' + fri;
					document.getElementById('hidden-fri').innerHTML = month + '.' + fri;


					document.getElementById('6').innerHTML = month + '.' + sat; 
					document.getElementById('hidden-sat').innerHTML = month + '.' + sat;



					if (day<10){
						document.getElementById('1').innerHTML = month + '.0' + day;
					}
					if (sun<10) {
						document.getElementById('0').innerHTML = month + '.0' + sun;
					}
					if (tue<10) {
						document.getElementById('2').innerHTML = month + '.0' + tue;
					}
					if (wed<10){
						document.getElementById('3').innerHTML = month + '.0' + wed;
					}
					if (thu<10) {
						document.getElementById('4').innerHTML = month + '.0' + thu;
					}
					if (fri<10) {
						document.getElementById('5').innerHTML = month + '.0' + fri;
					}
					if (sat<10) {
						document.getElementById('6').innerHTML = month + '.0' + sat;
					}
				}

				//If today is tuesday
				if (today == 2) {
					
					var sun = day + 5; //0
					var mon = day - 1; //1
					var wed = day + 1; //3
					var thu = day + 2; //4
					var fri = day + 3; //5
					var sat = day + 4; //6

					document.getElementById('2').innerHTML = month + '.' + day;
					document.getElementById('hidden-tue').innerHTML = month + '.' + day;
					//console.log(document.getElementById('hidden-tue').innerHTML = month + '.' + day);
			


					document.getElementById('2').style.color = "#60a9dd";
					document.getElementById('tue-text').style.color = "#60a9dd";
					document.getElementById('tueinput1').style.borderTop = "solid 1px #60a9dd";

					document.getElementById('0').innerHTML = month + '.' + sun;
					document.getElementById('hidden-sun').innerHTML = month + '.' + sun;

					document.getElementById('1').innerHTML = month + '.' + mon;
					document.getElementById('hidden-mon').innerHTML = month + '.' + mon;

					document.getElementById('3').innerHTML = month + '.' + wed;
					document.getElementById('hidden-wed').innerHTML = month + '.' + wed;

					document.getElementById('4').innerHTML = month + '.' + thu;
					document.getElementById('hidden-thu').innerHTML = month + '.' + thu;

					document.getElementById('5').innerHTML = month + '.' + fri;
					document.getElementById('hidden-fri').innerHTML = month + '.' + fri;

					document.getElementById('6').innerHTML = month + '.' + sat; 
					document.getElementById('hidden-sat').innerHTML = month + '.' + sat;


					if (day<10){
						document.getElementById('2').innerHTML = month + '.0' + day;
					}
					if (sun<10) {
						document.getElementById('0').innerHTML = month + '.0' + sun;
					}
					if (mon<10) {
						document.getElementById('1').innerHTML = month + '.0' + mon;
					}
					if (wed<10){
						document.getElementById('3').innerHTML = month + '.0' + wed;
					}
					if (thu<10) {
						document.getElementById('4').innerHTML = month + '.0' + thu;
					}
					if (fri<10) {
						document.getElementById('5').innerHTML = month + '.0' + fri;
					}
					if (sat<10) {
						document.getElementById('6').innerHTML = month + '.0' + sat;
					}
				}

				//If today is wednesday
				if (today == 3) {
					
					var sun = day + 4; //0
					var mon = day - 2; //1
					var tue = day - 1; //2
					var thu = day + 1; //4
					var fri = day + 2; //5
					var sat = day + 3; //6
					

					document.getElementById('3').innerHTML = month + '.' + day;
					document.getElementById('hidden-wed').innerHTML = month + '.' + day;

					document.getElementById('3').style.color = "#60a9dd";
					document.getElementById('wed-text').style.color = "#60a9dd";
					document.getElementById('wedinput1').style.borderTop = "solid 1px #60a9dd";

					document.getElementById('0').innerHTML = month + '.' + sun;
					document.getElementById('hidden-sun').innerHTML = month + '.' + sun;

					document.getElementById('1').innerHTML = month + '.' + mon;
					document.getElementById('hidden-mon').innerHTML = month + '.' + mon;

					document.getElementById('2').innerHTML = month + '.' + tue;
					document.getElementById('hidden-tue').innerHTML = month + '.' + tue;

					document.getElementById('4').innerHTML = month + '.' + thu;
					document.getElementById('hidden-thu').innerHTML = month + '.' + thu;

					document.getElementById('5').innerHTML = month + '.' + fri;
					document.getElementById('hidden-fri').innerHTML = month + '.' + fri;

					document.getElementById('6').innerHTML = month + '.' + sat;
					document.getElementById('hidden-sat').innerHTML = month + '.' + sat; 
					


					if (day<10){
						document.getElementById('3').innerHTML = month + '.0' + day;
					}
					if (sun<10) {
						document.getElementById('0').innerHTML = month + '.0' + sun;
					}
					if (mon<10) {
						document.getElementById('1').innerHTML = month + '.0' + mon;
					}
					if (tue<10){
						document.getElementById('2').innerHTML = month + '.0' + tue;
					}
					if (thu<10) {
						document.getElementById('4').innerHTML = month + '.0' + thu;
					}
					if (fri<10) {
						document.getElementById('5').innerHTML = month + '.0' + fri;
					}
					if (sat<10) {
						document.getElementById('6').innerHTML = month + '.0' + sat;
					}
				}

				//If today is thursday
				if (today == 4) {
					
					var sun = day + 3; //0
					var mon = day - 3; //1
					var tue = day - 2; //2
					var wed = day - 1; //3
					var fri = day + 1; //5
					var sat = day + 2; //6
					

					document.getElementById('4').innerHTML = month + '.' + day;
					document.getElementById('hidden-thu').innerHTML = month + '.' + day;

					document.getElementById('4').style.color = "#60a9dd";
					document.getElementById('thu-text').style.color = "#60a9dd";
					document.getElementById('thuinput1').style.borderTop = "solid 1px #60a9dd";

					document.getElementById('0').innerHTML = month + '.' + sun;
					document.getElementById('hidden-sun').innerHTML = month + '.' + sun;

					document.getElementById('1').innerHTML = month + '.' + mon;
					document.getElementById('hidden-mon').innerHTML = month + '.' + mon;

					document.getElementById('2').innerHTML = month + '.' + tue;
					document.getElementById('hidden-tue').innerHTML = month + '.' + tue;

					document.getElementById('3').innerHTML = month + '.' + wed;
					document.getElementById('hidden-wed').innerHTML = month + '.' + wed;

					document.getElementById('5').innerHTML = month + '.' + fri;
					document.getElementById('hidden-fri').innerHTML = month + '.' + fri;

					document.getElementById('6').innerHTML = month + '.' + sat; 
					document.getElementById('hidden-sat').innerHTML = month + '.' + sat;
					
					if (day<10){
						document.getElementById('4').innerHTML = month + '.0' + day;
					}
					if (sun<10) {
						document.getElementById('0').innerHTML = month + '.0' + sun;
					}
					if (mon<10) {
						document.getElementById('1').innerHTML = month + '.0' + mon;
					}
					if (tue<10){
						document.getElementById('2').innerHTML = month + '.0' + tue;
					}
					if (wed<10) {
						document.getElementById('3').innerHTML = month + '.0' + wed;
					}
					if (fri<10) {
						document.getElementById('5').innerHTML = month + '.0' + fri;
					}
					if (sat<10) {
						document.getElementById('6').innerHTML = month + '.0' + sat;
					}
				}

				//If today is friday
				if (today == 5) {

					var sun = day + 2; //0
					var mon = day - 4; //1
					var tue = day - 3; //2
					var wed = day - 2; //3
					var thu = day - 1; //4
					var sat = day + 1; //6

					document.getElementById('5').innerHTML = month + '.' + day;
					document.getElementById('hidden-fri').innerHTML = month + '.' + day;


					document.getElementById('5').style.color = "#60a9dd";
					document.getElementById('fri-text').style.color = "#60a9dd";
					document.getElementById('friinput1').style.borderTop = "solid 1px #60a9dd";

					document.getElementById('0').innerHTML = month + '.' + sun;
					document.getElementById('hidden-sun').innerHTML = month + '.' + sun;

					document.getElementById('1').innerHTML = month + '.' + mon;
					document.getElementById('hidden-mon').innerHTML = month + '.' + mon;

					document.getElementById('2').innerHTML = month + '.' + tue;
					document.getElementById('hidden-tue').innerHTML = month + '.' + tue;

					document.getElementById('3').innerHTML = month + '.' + wed;
					document.getElementById('hidden-wed').innerHTML = month + '.' + wed;

					document.getElementById('4').innerHTML = month + '.' + thu;
					document.getElementById('hidden-thu').innerHTML = month + '.' + thu;
					
					document.getElementById('6').innerHTML = month + '.' + sat;
					document.getElementById('hidden-sat').innerHTML = month + '.' + sat; 

					if (day<10){
						document.getElementById('5').innerHTML = month + '.0' + day;
					}
					if (sun<10) {
						document.getElementById('0').innerHTML = month + '.0' + sun;
					}
					if (mon<10) {
						document.getElementById('1').innerHTML = month + '.0' + mon;
					}
					if (tue<10){
						document.getElementById('2').innerHTML = month + '.0' + tue;
					}
					if (wed<10) {
						document.getElementById('3').innerHTML = month + '.0' + wed;
					}
					if (thu<10) {
						document.getElementById('4').innerHTML = month + '.0' + thu;
					}
					if (sat<10) {
						document.getElementById('6').innerHTML = month + '.0' + sat;
					}
				}

				//If today is saturday
				if (today == 6) {

					var sun = day + 1; //0
					var mon = day - 5; //1
					var tue = day - 4; //2
					var wed = day - 3; //3
					var thu = day - 2; //4
					var fri = day - 1; //5

					document.getElementById('6').innerHTML = month + '.' + day;
					document.getElementById('hidden-sat').innerHTML = month + '.' + day;

					document.getElementById('6').style.color = "#60a9dd";
					document.getElementById('sat-text').style.color = "#60a9dd";
					document.getElementById('satinput1').style.borderTop = "solid 1px #60a9dd";

					document.getElementById('0').innerHTML = month + '.' + sun;
					document.getElementById('hidden-sun').innerHTML = month + '.' + sun;

					document.getElementById('1').innerHTML = month + '.' + mon;
					document.getElementById('hidden-mon').innerHTML = month + '.' + mon;

					document.getElementById('2').innerHTML = month + '.' + tue;
					document.getElementById('hidden-tue').innerHTML = month + '.' + tue;

					document.getElementById('3').innerHTML = month + '.' + wed;
					document.getElementById('hidden-wed').innerHTML = month + '.' + wed;


					document.getElementById('4').innerHTML = month + '.' + thu;
					document.getElementById('hidden-thu').innerHTML = month + '.' + thu;


					document.getElementById('5').innerHTML = month + '.' + fri; 
					document.getElementById('hidden-fri').innerHTML = month + '.' + fri;



					if (day<10){
						document.getElementById('5').innerHTML = month + '.0' + day;
					}
					if (sun<10) {
						document.getElementById('0').innerHTML = month + '.0' + sun;
					}
					if (mon<10) {
						document.getElementById('1').innerHTML = month + '.0' + mon;
					}
					if (tue<10){
						document.getElementById('2').innerHTML = month + '.0' + tue;
					}
					if (wed<10) {
						document.getElementById('3').innerHTML = month + '.0' + wed;
					}
					if (thu<10) {
						document.getElementById('4').innerHTML = month + '.0' + thu;
					}
					if (fri<10) {
						document.getElementById('5').innerHTML = month + '.0' + fri;
					}

				}

			});

		


		</script>

	</body>
	
	
	
</html> 