<!DOCTYPE html>
<html>
	
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style-month.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <style>
			
			#logo {
				width: 80px;
			}

			#main {
				margin-left: 250px;
				
			}

			@media (max-width: 800px) {
				#main {
					margin-left: 0px;
					
				}
			}

			@media (max-width: 1060px) {
				#main {
				padding: 16px;
				padding-top: 30px;
				margin-left: 20px;
				transition: 0.5s;
				}

				#logo {
					display: none;
				}
			}
			
		</style>


	</head>
	
<!-- ON calendar add to-do list entries rename as deadlines
 Vanessa will add dates to to-do list entries -->
	<body>
        <div class = "mainContainer"?>

		<!--Navigation bar-->	
		<div id="mySidenav" class="sidenav">
			<a href="index.html" ><img src="LOGO-l.png" alt="logo" id="logo"
				style="padding-bottom: 50px;"></a>
			<a href="index.html">HOME</a>
			<a href="calendar.html" style="color:#fff;">CALENDAR</a>
			<a href="notes.html">NOTES</a>
			<a href="/login" style=" <%= loginStyle %>"><button type="button" id="btn" class="loginbtn" style="border: none; height: 25px; width: 55px; font-family: inherit; 
                border-radius: 10px;
                background: #fff;">LOGIN</button></a>
            <form action="/logout?_method=DELETE" method="POST">
                <a href="" style=" <%= styleChange %>"><button type="submit" id="btn3" class="loginbtn" style="border: none; height: 25px; width: 66px; border-radius: 10px;
                    background: #fff; font-family: inherit;">LOGOUT</button></a>
            </form>
		</div>


		<div id="main">
			
			<div class="calnav">
				<ul>
					<li class="weekHeader"><a href="calendar.html">WEEK </a></li>
					<li class="monthHeader"><a href="month.html">MONTH</a></li>
					<span><li class="weekHeader"><a href="/login"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></a></li></span>
				</ul>
			</div>

				<article class="schedule"> 

						<div class="calendar">
						<div class="month">

							<i class="fas fa-angle-left prev"></i>
							<div class="date">
							<h1></h1>
							<p></p>
							</div>
							<i class="fas fa-angle-right next"></i>
						</div>
						<div class="weekdays" style="width: 99%">
							<div style="border: solid 2px white;">SUN</div>
							<div style="border: solid 2px white;">MON</div>
							<div style="border: solid 2px white;">TUE</div>
							<div style="border: solid 2px white;">WED</div>
							<div style="border: solid 2px white;">THU</div>
							<div style="border: solid 2px white;">FRI</div>
							<div style="border: solid 2px whtie;">SAT</div>
						</div>
						<div class="days"></div>
						</div>
				
					<script src="month.js"></script>
					</div>

				</article> 

<!-- 				
					<div class = "importantDates">
					<h1 class = "importantDatesHeader">IMPORTANT DATES</h1>
					
					<form 
					name = "importantDatesForm" 
					method = "POST"
					action = "http://localhost:8080/process"> 
						<input type="text" class="todolist" id="todo10"  name="todolist"> 
						<input type="date" class="setDate" name = "setDate"><br> <br>
						<input type = "submit" class = "submitEvent" value = "SAVE">
					</form>

					</div>
				 -->
			
	
			</div>
        </div>




	
		</script> 

	</body>
	
</html> 
