<head>
    <title>Register</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css"/>
    <style>
        .redPlaceholder::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: red;
            opacity: 1; /* Firefox */
        }

        .redPlaceholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: red;
        }

        .redPlaceholder::-ms-input-placeholder { /* Microsoft Edge */
            color: red;
        }
    </style>
</head>
<body>
    <div class="page-content" >
        <div class="sign-up-header">
            <a style="text-decoration: none;" href="/index.html">
                <img class="logo-pic" src="LOGO-l.png" alt="logo" width="80px">
            </a>
            <h1>Create your account</h1>
        </div>
    
    
        <div class="forms">
            <form id="main-form" action="/register" method="POST" >
                <label for="first-name"></label>
                <input type="text" name="fname" id="first-name" class="text-input" placeholder="First name" required>
                <label for="last-name"></label>
                <input type="text" name="lname" id="last-name" class="text-input" placeholder="Last name" required>
                <label for="email">
                </label>
                <input type="email" name="email" id="email" class="text-input <%= classRed %>" placeholder="<%= placeHold %>" required>
                <label for="password"></label>
                <input type="password" name="password" id="password" class="text-input" placeholder="Create a password" required>
    
                <div class="checkbox1">
                    <input type="checkbox" name="remember-me" id="remember-me" class="checkbox">
                    <label for="remember-me">Keep me signed in</label>
                </div>
    
                
                <p class="terms1">By clicking Create Account, you acknowledge you have read </p>
                <p class="terms2">and agreed to our <a href="terms.html">Terms of use</a> and <a href="privacy.html">Privacy Policy</a></p></p>
    
                <button type="submit" id="create" class="btn" >CREATE ACCOUNT</button>
    
                <h2>Already have an account?</h2>
                
                <!-- this should redirect to sign in page -->
                <a href="/login" style="text-decoration: none;"> <button type="button" id="sign-in" class="btn" value="sign in" style="width: 100%; padding-left: 30px;  padding-right: 30px;">SIGN IN</button> </a>
            
            </form>
        </div>
    </div>
</body>