@charset "UTF-48";
/* CSS Document */



body {
	  font-family: 'Montserrat', sans-serif;
	  transition: background-color .5s;
	}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A5D9FF;
  transition: 0.5s;
  padding-top: 200px;
}

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  padding-top: 50px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: white;
}

.sidenav a:active {
  color: white;
}



#main {
	transition: margin-left .5s;
	padding: 16px;
	margin-left: 250px;
}


/* Vanessa's Code */

/* Week / Month Buttons */
#main .calnav ul li {
	
	list-style: none;
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 20px;

}


/* DATE and SAVE button */
#date-save {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
#btn {
	font-family: inherit;
	width: 8%;
	height: 38px;
	border-radius: 10px;
	background: #fff;
	border: solid 1px;
}

#btn:hover {
	cursor: pointer;
}
#month-year-main {
	width: 78%;
	
}




.calnav ul {
	margin-bottom: 0px;
	width: 95%;
	
}

#main .calnav ul li a {
	text-decoration: none;
	color: #000;
}

.calnav .week {
	border: solid 2px;
	border-radius: 12px;
	cursor: pointer;
	
}

.month {
	cursor: pointer;
}

input[type='text'] { 
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;; 
}


/* Weekly Schedule */
.schedule {
	background: #F5F5F5;
	border: solid #F5F5F5;
	border-radius: 10px;
	padding-bottom: 10px;

	
}
.bigboybox {
	
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 98%;
}


/* Weekdays */
.Weekdays {
	margin-top: 0%;
	display: flex;
	justify-content: flex-start;
	color: #000;
	
	padding-left: 5px;

	flex-direction: column;
	flex-wrap: nowrap;

	
}

#weekdays-1 {
	flex: 2 1 0;
	justify-content: space-between;
}
#weekdays-2 {
	flex: 2 1 0;
	justify-content: space-between;
	
}
#weekdays-3 {
	flex: 1 1 0;
	
}

.weekday-box {
	flex-basis: 25%;
	background:#fff;
	border-radius: 10px;
	margin-bottom: 3%;
	box-sizing: border-box;
	transition: 0.4s;
	padding: 10px 10px 15px 0px;
	width: 95%;
	
}

.weekday-box h3 {
	margin: 0;
}

.smalltext {
	margin-left: 15px;
}


/* Weekend */
/* .Weekend {

	margin-top: 0%;
	display: flex;
	justify-content: flex-start;
	color: #000;
	padding-left: 10px;
	

} */

.problematic-box {
	
	justify-content: space-between;

	display: flex;
  	height: 100%;
	width: 95%;
	
}


.weekend-box {
	
	
	flex-basis: 48%;
	background:#fff;
	border-radius: 10px;

	box-sizing: border-box;
	transition: 0.4s;
	padding: 10px 10px 15px 0px;
	height: 169px;

	
	
}

.weekend-box h3 {
	margin: 0;
}



/* Inputs */
.input {
	width: calc(100% - 30px);
	border: #fff;
	border-bottom: solid 1px #DDDDDD;
}

.input-weekend {
	width: calc(100% - 30px);
	border: #fff;
	border-bottom: solid 1px #DDDDDD;
}

#HASH {
	display: flex;
	justify-content: space-between;
	padding-left: 8px;
}





/* Checkboxes */
input#wed-box-2 {
    position: absolute;
    right: 3px;
    top: 1px;
	
}

input#wed-box-3 {
    position: absolute;
    right: 3px;
    top: 1px;
	
}
.parent{
	position: absolute;
	width: calc(100% - 1062px);
	
}

.row-box {
	visibility: hidden;
}

#mon1-parent:hover .row-box {
	visibility: visible;
}
#mon-parent2:hover .row-box {
	visibility: visible;
}


/* Extras */

#weekdays-3 {
	justify-content: space-between;
}

.extras {
	margin: auto;
}




/* Reminders */
#reminders {

	width: 95%;
	border-radius: 10px;
	background: #202020;
	padding-top: 10px;
	height: 160px;
	overflow: hidden;
	/* --scrollbarBG: #CFD8DC; */
	
}

/* #reminders:hover {
	overflow:auto;
	
} */

.input-reminders {
	width: calc(100% - 25px);
	border: #fff;
	border-bottom: solid 1px #3E3E3E; 
	background: #3E3E3E;
	border-radius: 3px;
	padding: 3px;
}

div#reminders li {
	margin-top: 5px;
	padding-left: 0px;
	list-style-type: circle;
	position: relative;
    left: -8px;
}

span {
	position: relative;
        left: -5px;
}


/* Deadlines/TO-DO */
#deadlines {

	background: #CFEAFF;
	width: 95%;
	height: 342px;
	border-radius: 10px;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
} 

#deadlines:hover {
	
	overflow-y: auto;
	
} 

.checkbox {
	padding-top: 18px;
	
}

.todolist {
	width: calc(100% - 55px);
	height: 25px;
	background: #E9F4FD;
	border: #E9F4FD;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 5px;
}

.date {
	font-family: inherit; 
	font-size: 11px;
	border: solid #fff;
	width: calc(100% - 58px);
	margin-left: 19px;
}

/* Mobile Friendly */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 900px) {
	.bigboybox {
			display: flex;
			flex-direction: column;	
	}

	.bigboybox > div {
		margin: 0px;
	}

	.Weekdays > div {
		margin: 8px;
	}

	#btn {
       
        width: 15%;
    }


}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px; margin: 10px 20px;}
  }

@media screen and (max-width: 1000px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {
    height: 30px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A5D9FF;
    transition: 0.5s;
    }

    .sidenav a {
    /* padding: 8px 8px 8px 32px; */
    padding-top: 1px;
    text-decoration: none;
    font-size: 15px;
    display: inline;
    color: black;
    }

    #main {
    padding: 16px;
    margin-left: 50px;
    padding-top: 30px;
    }

    .small {
        text-align: center;
    }
}