@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Montserrat', sans-serif;
	transition: background-color .5s;
}

.mainContainer {
	width: 100%;
	height: 100%;
}

.sidenav {
	/* float: left; */
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A5D9FF;
  transition: 0.5s;
  padding-top: 200px;
}

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  padding-top: 50px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.sidenav a:hover {
  color: white;
}

.sidenav a:active {
  color: white;
}


#main {
	/* float: left; */
	display: inline-block;
	width: 80%;
	/* width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);  */
  padding: 3px 20px;
	margin-left: 215px;
  
	/* margin-right: 100px; */
}

/* Week / Month Buttons */
#main .calnav ul li {
	
	list-style: none;
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 20px;
	

}

.calnav ul {
	margin-bottom: 0px;
}

#main .calnav ul li a {
	text-decoration: none;
	color: #000;
}

.calnav .monthHeader {
	border: solid 2px;
	border-radius: 12px;
	
}

/* input[type='text'] { 
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;; 
} */


/* Calendar */
.schedule {
	padding: 10px;
	display: block;
	background: #F5F5F5;
	border: solid #F5F5F5;
	border-radius: 10px;
  margin: auto;
  margin-left: 30px;
  
	
}

.schedule2 {
	padding: 10px;
	display: inline-block;
	background: #F5F5F5;
	border: solid #F5F5F5;
	border-radius: 10px;
  width: 50%;

	
}

/* TRY NEW THINGS HERE */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  } */
  .calendar {
    width: 100%;
    height: 800px;
    background-color: white;
    /* box-shadow: 0 0.5rem 3rem rgba(114, 33, 33, 0.4); */
	  margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 10px;
  }

   .month {
    margin: auto;
    width: calc(100% - 64px);
    height: 12rem;
    background-color: #A5D9FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


    
  } 
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    
	  width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
	margin: auto;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
  }
  
  .days {
    width: 100%;
    border:0;
    border-right: solid 2px #F5F5F5; 
    display: flex;
    flex-wrap: wrap;
    /* margin: auto; */
    justify-content: center;
  }
  
  .days div {
	  border: solid 5px #fff;
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(85% / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.3rem solid #777;
    cursor: pointer;
    color: white;
  }

  .date h1 {
	  font-weight: 800;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #A5D9FF;
  }
  
 
/* NEW CHANGES */
/* Deadline section */
.importantDates {
  margin-top: 30px;
  padding: 10px;
  display: block;
  background: #A5D9FF;
  border-radius: 10px;
  width: 70%;
  margin-left: 330px;

  
}

.importantDatesHeader {
text-align: center;
font-weight: normal;
}

.todolist {
width: calc(100% - 55px);
height: 25px;
background: #E9F4FD;
border: #E9F4FD;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
margin-left: 25px;

}

.setDate {
font-family: inherit; 
font-size: 11px;
border: solid #fff;
width: calc(100% - 56px);
margin-left: 25px;
}

.submitEvent {
font-family: inherit;
width: 100px;
height: 38px;
border-radius: 10px;
background: #fff;
border: solid 1px;
left: 50%;
max-width: 100%;
margin: 0 auto;
display: block;
}

.submitEvent:hover {
cursor: pointer;
background-color: black;
color: #fff;
}
/* NEW CHANGES */

@media screen and (max-width: 630px) {
  .days div {
    width: calc(55% / 7);
  }
}

@media screen and (max-width: 1217px) {
  .days div {
    width: calc(82% / 7);
  }
}





/* Mobile Friendly */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  
    #main {
      padding: 16px;
      padding-top: 30px;
      margin-left: 0px;
      }
    .importantDates {
      margin-left: 20px;
      padding: 30px;
    }  
  }
  
  @media (max-width: 800px) {
      .bigboybox {
              display: flex;
              flex-direction: column;	
      }
  
      .bigboybox > div {
          margin: 0px;
      }
  
      .Weekdays > div {
          margin: 8px;
      }
  
      #btn {
         
          width: 15%;
  
      }
  
      #main {
          padding: 16px;
          padding-top: 30px;
          margin-left: 0px;
          }
          .importantDates {
            padding: 30px;
            margin-left: 20px;
          }     
  
  
  }

  @media screen and (max-width: 1060px) {
  
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
      .sidenav {
      height: 30px;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #A5D9FF;
      transition: 0.5s;
      text-align: center;
      }
  
      .sidenav a {
      /* padding: 8px 8px 8px 32px; */
      padding-top: 1px;
      text-decoration: none;
      font-size: 15px;
      display: inline;
      color: black;
      }

      #main {
        padding: 16px;
        padding-top: 30px;
        margin-left: 0px;
        }


       .schedule2{
         margin-left: 100px;
       } 
        .importantDates {
          padding: 30px;
          margin-left: 30px;
        }     
        
        .days div {
          width: calc(72% / 7);
        }
  
  
  }